<form
  [formGroup]="formGroup"
  class="d-flex flex-column gap-3"
  (ngSubmit)="ngSubmit()"
>
  <h1>Create a login</h1>

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingDomain"
      formControlName="domain"
      placeholder="https://example.com"
    />
    <label for="floatingDomain">Domain</label>
  </div>

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingUsername"
      formControlName="username"
      placeholder="username123"
    />
    <label for="floatingUsername">Username</label>
  </div>

  <div
    class="form-floating mb-3 d-flex justify-content-between align-items-center gap-2"
  >
    <input
      [type]="showPassword ? 'text' : 'password'"
      class="form-control"
      id="floatingUsername"
      formControlName="password"
      placeholder="username123"
    />
    <label for="floatingUsername">Password</label>

    <div
      class="bi fs-3 {{ showPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill' }}"
      (click)="showPassword = !showPassword"
    ></div>
  </div>

  <button class="btn btn-secondary d-inline" type="submit">Submit</button>
</form>
