/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.tab-content {
  width: 70% !important;
  display: block !important;
}

tabset {
  height: 100vw !important;
}

tabset > ul.nav {
  display: block !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  width: 30% !important;
}

tabset > li.nav-item > a > span {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
